<!doctype html>
<html ng-app="todoApp">
  <head>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="todo.js"></script>
    <link rel="stylesheet" href="todo.css">
  </head>
  <body>
    
  <div class="container">
    <h2 class="bg-primary top show">List</h2><br />
    <div ng-controller="TodoListController as todoList">
      
      <samp>{{todoList.remaining()}} of {{todoList.todos.length}} remaining
      [ <a href="" ng-click="todoList.archive()">archivar</a> ]
      </samp>
      
      <ul class="unstyled">
        <li ng-repeat="todo in todoList.todos">
          <label class="checkbox">
            <input type="checkbox" ng-model="todo.done">
            <span class="done-{{todo.done}}">{{todo.text}}</span>
          </label>
        </li>
      </ul><br />
      <form ng-submit="todoList.addTodo()">
        <input type="text" ng-model="todoList.todoText"  size="30"
               placeholder="add new todo here">
        <input class="btn-success" type="submit" value="Add">
      </form>
      <table>
      	<th>Promotor</th>
      </table>

    </div>
    </div>
  </body>
</html>